<% include ../partials/header%>
<h1>New!</h1>

<form class = "new-form" action = "/movies" method = "post">
    <h1 class = "form-title">Add a new movie:</h1>
    <hr class = "style-one">
    <label>
        Title:
        <input class = "form-item" type = "text" placeholder = "Title" name = "movie[title]">
    </label>    
    <label>
        Image:
        <input class = "form-item" type = "text" placeholder = "Image url" name = "movie[image]">        
    </label>
    <label>
        Rating:
        <select class = "form-select" name = "movie[rating]">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </label>
    <label>
        Review:
        <textarea class = "form-item" id = "text" placeholder= "Type review here..." name = "movie[review]"></textarea>
    </label>
    <button class = "button submit" type = "submit">Submit</button>
</form>




<% include ../partials/footer%>